.additional-tech {
    color: var(--text-color);
    padding: 16px;
}

.additional-tech ul {
    padding: 16px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.additional-tech ul li {
    list-style-type: none;
    margin-left: -1em;
}

.additional-tech ul li::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    height: 12px;
    width: 12px;
    background: linear-gradient(to bottom, var(--gradient1), var(--gradient2));
    border-radius: 50%;
}